<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>Welcome to details Page</h1>
    <form method="get" action="read">
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" name="txtname"/></td>
            </tr>
            <tr>
                <th>Age</th>
                <td><input type="number" name="txtage"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" name="txtemail"/></td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td><input type="number" name="txtnumber"/></td>
            </tr>
            <tr>
                <th>Palce</th>
                <td><input type="text" name="txtplace"/></td>
            </tr>
            <tr>
                <th><input type="submit" name="SUBMIT"></th>
            </tr>
        </table>
    </form>



    </body>
</html>