<!DOCTYPE html>
{% load mathfilters %}
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="color:green;font=roman"> Welcome to DTL Project 2 (<i>conditional statements and for loop</i>)</h1>
<h2 style="color:red">Biggest of three numbers :</h2>
<h3>x = {{ x1 }}</h3>
<h3>y = {{ x2 }}</h3>
<h3>z = {{ x3 }}</h3>
{% if x1 > x2 and x1 > x3 %}
      <h3>{{x1}} is Biggest</h3>
{% elif x2 > x1 and x2 > x3 %}
      <h3>{{x2}} is Biggest</h3>
{% else %}
      <h3>{{x3}} is Biggest</h3>
{% endif %}

<h2 style="color:pink">Elements in list :</h2>
<h3>Original list : </h3>{{ elements }}

<h3>list elements using for loop :</h3>
{% for i in elements %}
   {{i }}
{% endfor %}

<h3>Elements in reverse order :</h3>
{% for i in elements|slice:"::-1"%}
   {{ i }}
{% endfor %}

<h3>Even elements in list :</h3>
{% for i in elements %}
   {% if i|mod:2 == 0 %}
       {{ i }}
   {% endif %}
{% endfor %}

<h3>Even elements in list :</h3>
{% for i in elements %}
   {% if i|mod:2 == 1 %}
       {{ i }}
   {% endif %}
{% endfor %}

<h3>Sum of all elements in the list : </h3>{{ elements|list_sum }}

</body>
</html>